<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="wssDirect" patternSyntax="ECMAScript" stopProcessing="true>
                    <match url="wss://(.*)" />
                    <action type="Redirect" url="<websocket address>" appendQueryString="false" redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
